{% extends 'base.twig' %}



{% block content %}

    <h2>Login</h2>

    {{ flash.error|raw }} <br />

    <form action="" method="POST">
        <label>Username:</label>
        <input required type="text" name="username" value="{{ last_username }}">
        <br>

        <label>Password: </label>
        <input required type="password" name="password">
        <br>

        <input type="submit" name="submit" value="Log in">
    </form>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        console.log(/SESS\w*ID=([^;]+)/i.test(document.cookie) ? RegExp.$1 : false;);
    </script>
{% endblock script %}
