{% extends 'base.twig' %}

{% block content %}

    <h2>Register new user</h2>

    {{ flash.error|raw }} <br />

    <form action="" method="POST">

        <label>Username: </label>
        <input required type="text" name="username" value="{{ username }}"> <br />

        <label>Password: </label>
        <input required type="password" name="password"> <br />

        <label>Repeat password: </label>
        <input required type="password" name="password2"> <br />

        <label>Email: </label>
        <input type="email" name="email" value="{{ email }}"> <br />

        <label>Biography: </label>
        <input type="text" name="bio"> <br />

        <input type="submit" name="submit" value="Submit">
    </form>
{% endblock %}
