{% extends 'base.twig' %}

{% block head %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block content %}

    <h2>Register new user</h2>

    {{ flash.error|raw }} <br />

    <form action="" method="POST">

        <label>Username: </label>
        <input required type="text" name="username" value="{{ username }}"> <br />

        <label>Password: </label>
        <input required type="password" name="password" value="{{ password }}"> <br />

        <label>Repeat password: </label>
        <input required type="password" name="password2"> <br />

        <label>Email: </label>
        <input type="email" name="email" value="{{ email }}"> <br />

        <label>Biography: </label>
        <input type="text" name="bio"> <br />

        <div class="captcha-wrapper">
            <div class="g-recaptcha" data-sitekey="6LdfnpkUAAAAAJLy-8C81Y6mwBnbuY9FXp4B1X-W"></div>
        </div>
        <br>

        <input type="submit" name="submit" value="Submit">
    </form>
{% endblock %}
